name: Build

on:
  push:
    branches-ignore:
      - test-*

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24

    - name: Check out code
      uses: actions/checkout@v6

    - name: Build
      run: ./build.sh
      shell: bash
