name: Release build

on:
  push:
    tags:
      - 'v*'

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24

    - name: Check out code
      uses: actions/checkout@v6

    - name: Build
      run: ./build.sh
      shell: bash

    - name: Collect licenses
      if: startsWith(matrix.os, 'ubuntu')
      run: ./licenses.sh

    - name: Save license info
      if: startsWith(matrix.os, 'ubuntu')
      uses: actions/upload-artifact@v6
      with:
        name: licenses
        path: licenses

    - name: Save change log
      if: startsWith(matrix.os, 'ubuntu')
      uses: actions/upload-artifact@v6
      with:
        name: changelog
        path: CHANGELOG.md

    - name: Save artifacts
      uses: actions/upload-artifact@v6
      with:
        name: ${{ format('lrsql-{0}', matrix.os) }}
        path: lrsql

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Set TAG
        run: echo TAG=${GITHUB_REF:10} >> $GITHUB_ENV

      - name: Set ARCHIVE
        run: echo ARCHIVE=lrsql-${TAG}.tgz >> $GITHUB_ENV

      - uses: actions/download-artifact@v7
        with:
          name: lrsql-macos-latest
          path: macos

      - uses: actions/download-artifact@v7
        with:
          name: lrsql-ubuntu-latest
          path: linux

      - uses: actions/download-artifact@v7
        with:
          name: lrsql-windows-latest
          path: windows

      - uses: actions/download-artifact@v7
        with:
          name: licenses
          path: licenses

      - uses: actions/download-artifact@v7
        with:
          name: changelog
          path: .

      - name: Make executables executables
        run: chmod a+x linux/* macos/*

      - name: Pack release
        id: pack-release
        run: tar czf $ARCHIVE linux macos windows licenses CHANGELOG.md

      - name: Load change log
        id: changelog
        run: echo "::set-output name=body::$(cat CHANGELOG.md | sed -e 's/%/%25/g' | sed -e ':begin;$!N;s/\n/%0A/;tbegin')"

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref }}
          name: ${{ env.TAG }}
          body: ${{ steps.changelog.outputs.body }}
          draft: true
          prerelease: true
          files: ${{ env.ARCHIVE }}
